.AppBar-background{
  background-color:rgba(230, 152, 7, 0.63) !important;
}
.AppBar-background-dashboard{
  background-color:rgba(182, 121, 8, 0.89) !important;
}


.iconImg {
  width: 40px;
  margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .iconImg {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
